<footer id="footer" class="navbar ut-footer">
 <div class="<%= container_classes %>">
   <%= link_to "UTL", 'https://www.lib.utexas.edu', target: :_blank, class: 'mb-0 footer-brand' %>
   <%= link_to "Chat", 'https://legacy.lib.utexas.edu/services/reference/chat', target: :_blank, class: 'mb-0 chat' %>
 </div>
</footer>
