<% @page_title = t('blacklight.contact.page_title', :application_name => application_name) %>

<div id="content" class="col-md-12">
  <br>
  <h1 class='page-heading'><%= t('blacklight.contact.title') %></h1><br>
  <p>
    <b>General questions and reference services</b><br>
    <a href="https://www.lib.utexas.edu/contact">https://www.lib.utexas.edu/contact</a><br>
  </p><br>
  <p>
    <b>Questions about the Digital exhibition platform and technical issues</b><br>
    <a href="mailto: lib-digitalcollections@utlists.utexas.edu">lib-digitalcollections@utlists.utexas.edu</a><br>
  </p><br />
  <p>
    <b>Exhibit Specific Inquiries</b><br />
    Contact the curator via the exhibit's About page.
  </p><br />
</div>
