<% @page_title = t('blacklight.about.page_title', :application_name => application_name) %>

<div id="content" class="col-md-12">
  <br>
  <h4 class='page-heading'><%= t('blacklight.about.title') %></h4>
  <p>
    The University of Texas Libraries builds compelling digital exhibits using 
    resources from our extensive collections in our Exhibits site.<br><br>

    In these exhibits you will find inspiring and educational curated collections 
    of art, literature, culture, history, and more!<br /><br />

    Exhibits are collections of digitized or born-digital content that have been 
    selected and organized around a clear, single focus for the purposes of:<br />

    <ul>
      <li>Highlighting and providing context for a larger UT Libraries collection</li>
      <li>Serving in conjunction with physical exhibitions or campus events</li>
      <li>Showcasing original research by UT Libraries staff about collections, 
        especially when this research spans collections and formats</li>
      <li>Pedagogical applications, including teaching collections and teaching 
        guides, pulling resources and context together for a specific learning outcome</li>
    </ul>

    Whatever the purpose, exhibits contain objects that have been selected, organized, 
    described, and explained by the curator/creator.<br><br>
  </p>
  <h4 class='page-heading'><%= t('blacklight.about.subtitle') %></h4>
  <p>
    We built our discovery portal with open source solutions, including <a href="https://spotlight.projectblacklight.org/" target="_blank">Spotlight</a>, 
    a solution for creating digital exhibitions based on <a href="https://projectblacklight.org/" target="_blank">Blacklight</a>, 
    the <a href="https://projectmirador.org" target="_blank">Mirador IIIF viewer</a>, and a 
    <a href="https://lucene.apache.org/solr/" target="_blank">Solr</a> enterprise index. We serve images using the
    International Image Interoperability Framework (<a href="https://iiif.io" target="_blank">IIIF</a>) and expose 
    our IIIF manifests so that items are portable to any IIIF 
    <a href="https://iiif.io/apps-demos/#image-viewing-clients" target="blank">viewer</a>.
  </p>
</div>
