<% @page_title = t('blacklight.help.page_title', :application_name => application_name) %>

<div id="content" class="col-md-12">
  <br>
  <h1 class='page-heading'><%= t('blacklight.help.title') %></h1><br>
 
  <h4>Cite an item</h4>
  <p>
    We recommend following your discipline’s style guide for citations. At minimum, please include the
    University of Texas Libraries, University of Texas at Austin, the title of the item, and the URL.
    Some items have notes about citations displayed in the details.<br><br>

    The Tools box includes a link to automatically-generated citations in several styles for each item.
    Please verify generated citations for completeness and formatting.<br><br>

    <%= image_tag("CiteAnItem.png", :class => "center_img", :alt => "Print Item") %>
  </p><br>

  <h4>Contact UT Libraries about an item or exhibit</h4>
  <p>
    Each exhibit lists a point of contact, which is the best source of information about specific items and collections. 
    Our <a href="/contact" target="_blank">Contact</a> page lists central contact information for general questions or 
    technical issues. If you are a current UT-affiliate, you may also use your EID to access the chat service via a 
    chat button at the bottom of each page for general questions.
  </p><br>

  <h4 class='page-heading'>Using images from this website</h4>
  <p>
    University of Texas Libraries has placed copies of these works online for educational 
    and research purposes. These works may be under copyright. For more information about 
    reusing any of these works, please see “Rights Use and Reproduction” field on an item’s detail page.<br /><br /><br />

    <%= image_tag("RightsUse.png", :class => "center_img", :alt => "Rights Use and Reproduction") %><br /><br />

    If you have questions about the Exhibits website or the inclusion of an item in an exhibit, 
    please reach out to the exhibit curator or send a message to 
    <a href="mailto:lib-digitalcollections@utlists.utexas.edu">lib-digitalcollections@utlists.utexas.edu</a>.<br /><br />
  </p>


  <h1>FAQs</h1><br>
  <h4><i>How can I find the owning repository for an item?</i></h4>
  <p>
  For most items, the detailed information for each item includes the owning repository name. If you are uncertain, you 
  can contact the exhibit curator for more information.<br><br>

  <%= image_tag("OwningRepo.png", :class => "center_img", :alt => "Owning Repo") %>
  </p><br>

  <h4><i>How can I tell if something is in copyright? Am I allowed to use this item in my<br>[presentation/film/book/etc.]?</i></h4>

  <p>All items have notes about rights and restrictions in their detailed information. The final determination of 
    copyright status is up to the user. When in doubt, <a href="/contact" target="_blank">contact the exhibit curator</a>.
    Please also read the UT Libraries 
    <a href="https://www.lib.utexas.edu/material-usage-statement" target="_blank">Web Material Usage Statment</a>.
  </p><br>

  <h4><i>I believe that an item infringes on copyright. What can I do?</i></h4>
  <p>Please <a href="/contact" target="_blank">contact the curator</a> of the exhibit containing the item. 
  Staff will investigate and remove the item from the discovery portal if infringement is confirmed.</p><br>

  <h4><i> How can I download an image? How can I get a high resolution version of an item?</i></h4>

  <p>
    For an item that has been published on the 
    <a href="https://collections.lib.utexas.edu" target="_blank">University of Texas Libraries’ Collections portal</a>, 
    you will be able to search for the item on that site and then download an image from the item’s landing page, at 
    different resolutions.<br /><br />

     In other cases, please <a href="/contact" target="_blank">contact the exhibit curator</a> to inquire about 
     image downloads and/or high resolution images.
  
   </p><br>

  <h4><i>Do you allow bulk download of items and/or metadata?</i></h4>
  <p>Presently this is handled case-by-case by UT Libraries staff using our internal Digital Asset Management
     System. If you would like to pursue bulk downloads, please 
     <a href="/contact" target="_blank">contact the curator of the exhibit</a>  containing the items that interest you.
  </p><br>

</div>
