// /*
//   Header bar at top (Bootstrap nav-bar)
// */

.topbar > .container {
  @media (max-width: breakpoint-max(xs)) {
    margin-left: 0;
    margin-right: 0;
  }

}

.navbar-brand {  /* The main logo image for the Blacklight instance */
  background: transparent image-url("blacklight/UT-lib-exhibits.png") no-repeat center left;
  background-size: contain;

  flex: 0 0 380px;
  overflow: hidden;
  width: 300px;
  height: 80px;
  margin-top: .5rem;
  text-indent: 100%;

  @media screen and (max-width : 320px) {
    flex: 0 0 215px;
  }
}
